.form {
    position: relative;
    padding: 36px 26px 64px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 5px;

    &__title {
        margin-bottom: 40px;
    }

    &__wrap {
        width: 278px;
    }

    &__input {
        border: none;
        outline: none;
        width: 100%;
        padding: 16px 45px 16px 19px;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        background-color: var(--main-gray);
        color: var(--text-gray);
        border-radius: 5px;

        &:not(:last-of-type) {
            margin-bottom: 18px;
        }
    }
}