*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	-webkit-tap-highlight-color: transparent;
}

:root{
	--main-blue: #3ca8f0;
	--main-white: #fff;
	--text-black: #343434;
	--text-gray: #666666;
}

.flex {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.--just-space {
	justify-content: space-between;
}

.--just-around {
	justify-content: space-around;
}

.--just-even {
	justify-content: space-evenly;
}

.--just-center {
	justify-content: center;
}

.--just-end {
	justify-content: flex-end;
}

.--align-str {
	align-items: stretch;
}

.--align-center {
	align-items: center;
}

.--align-end {
	align-items: flex-end;
}

.--dir-col {
	flex-direction: column;
}

html,
body {
	min-height: 100%;
	position: relative;
}

body {
	font-size: 1rem;
	letter-spacing: 0; 
	padding: 0;
	color: var(--text-black);
	background-color: var(--main-bg);
}

img {
	width: 100%;
}

.container {
	@include container(1740px, 60px, 60px)
}

.text--blue {
	color: var(--main-blue);
}


.text-justify {
	text-align: justify;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}
