@import 'base/*.scss';
@import 'global/*.scss';
@import 'media/*.scss';
@import '../components/**/**/*.scss';

.hero {
    margin-bottom: 60px;

    &__left {
        width: 49%;
    }

    &__right {
        width: 51%;
    }

    &__subtitle {
        text-transform: uppercase;
        margin-bottom: 22px;
    }

    &__title {
        width: 95%;
        margin-bottom: 38px;

        .text--blue {
            font-family: "RobotoSlab";
        }
    }

    &__text {
        width: 95%; 
        font-size: 19px;
        line-height: 25px;
        letter-spacing: .1px;
        margin-bottom: 56px;
        color: var(--text-gray);
    }

    &__bg {
        width: 87%;
        pointer-events: none;
    }

}

.modal {
    position: fixed;
    display: flex;
    z-index: 2;
    top: 50%; right: 50%;
    transform: translate(50%,-50%);
  }
  
.overlay {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.5);
backdrop-filter: blur(3px);
z-index: 1;
}
  
.hidden {
display: none;
}